@media (prefers-color-scheme: dark) {
    html {
        background-color: #000;
        color: #fff;
    }
}
@media (prefers-color-scheme: light) {
    html {
        background-color: #fff;
        color: #000;
    }
}
@media (min-width: 600px) {
    body {
        margin-left: 10vw;
        margin-right: 10vw;
        margin-top: 10vh;
        margin-bottom: 10vh;
    }
}
body {
    font-family: monospace;
    flex-wrap: wrap;
    display: flex;
}
.center {
   display: flex;
   flex-wrap: wrap;
   width: 100%;
   align-items: center;
   justify-content: center;
}
img.main-logo {
    width: 20vh;
    height: 20vh;
}
.title {
   font-size: 9vh; 
}
.heading {
    flex-direction: row;
    height: 70vh;
}
.subheading {
    height: 25vh;
}
